{% extends "base.html" %}
{% block title %}About - Vishwanathacharya{% endblock %}
{% block content %}
    <section class="py-16 text-center">
        <h1 class="text-4xl font-bold text-indigo-300 mb-6">About Me</h1>
        <p class="text-lg text-gray-300 max-w-3xl mx-auto">I’m a DevOps professional dedicated to automating workflows, optimizing infrastructure, and delivering scalable, high-quality solutions. With expertise in Python, Flask, Nginx, and cloud technologies, I help businesses thrive. Let’s connect to build something amazing!</p>
    </section>
{% endblock %}
